*{
    margin: 0px;
    padding: 0px;
    color: #ffff;
}

/* CONTAINER 1 HEADER */

.container{
    display: flex;
    align-content: center;
     
}

.header{
    background-color: green;
    display: flex;
    padding: 30px; 
    width: 20%;  
    text-align: center; 
}

.menu{
    background-color: yellow;
    display: flex;
    padding: 30px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

/* CONTAINER 2 */

.box2{
    background-color: rgb(204, 18, 142);
    height: 600px; 
    justify-content: center;
    align-items: center;
    text-align: center;  
}

/* CONTAINER 3    .container3 é responsavel por todo o container 3
coluna é responsavel por image e extra*/

.container3 {  display: flex;
    justify-content: space-between;
        

}

#content2{
    background-color:rgb(43, 43, 177);
    display: flex;
    width: 60%;
    height: 300px;          
}

#bro{
    background-color:#ffff;
    display: flex;
    height: 300px;
    width: 30%;
    
    
    
}

#coluna {
    display: flex;
    flex-direction:column-reverse;

      
    
    
}

#image{
    background-color: tomato;
    display: flex;
    width: 300px;
    height: 50%;
    
}

#extra{
    background-color: yellowgreen;
    display: flex;
    width: 300px;
    height: 50%;

}

#footer{
    background-color: purple;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
